body {
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;

}


.container {

    width: 80%;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.256);
    margin-left: 8%;
    margin-bottom: 5%;
}

.form-section {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
}

h1 {

    text-align: center;
    color: black;
    font-size: 44px;
    margin-bottom: 50px;
}

label {

    display: block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;

}

input {

    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid slategrey;
    border-radius: 5px;
}

#country {

    padding: 8px;
}



.radio,
.checkbox {

    display: flex;
    gap: 5px;

}

div {

    margin-top: 10px;
}


button {

    display: block;
    width: 30%;
    padding: 10px;
    margin-top: 15px;
    justify-self: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button[type="submit"] {

    background-color: #00bbff;
    color: white;

}

button[type="reset"] {

    background-color: #dc3545;
    color: white;
}

